discord
discord.py
aiohttp
websockets
async-timeout
attrs
certifi
chardet
finnhub-python
idna
multidict
requests
typing-extensions
yarl
python-dotenv
aiohttp
async-timeout
attrs
certifi
chardet
discord.py
finnhub-python
idna
multidict
python-dotenv
requests
typing-extensions
websockets
yarl
